<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
  </head>
  <body>
    <h1>Please Submit Details To Reset Your Password</h1>
    <form id="forgotPassword">
      <fieldset>
        <label for="email">Enter Email</label>
        <input type="text" id="email" /><br />
        <button type="submit">Send Otp</button>
      </fieldset>
    </form>
    <a href="signUpPage.html">Create a New Account Instead ?</a>
  </body>
  <script src="forgotPassword.js"></script>
</html>
