<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to Your Account</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
  </head>
  <body>
    <h1>Existing UserLogin</h1>
    <div style="align-content: center">
      <form id="formLogin">
        <fieldset style="width: fit-content">
          <label for="email">Enter Email</label>
          <input type="text" id="emailLogin" required /><br />
          <label for="password">Enter Password</label>
          <input type="password" id="passwordLogin" required /><br />
          <button type="submit">Login</button>
        </fieldset>
      </form>
    </div>
    <a href="./signUpPage.html">New User? SignUp here</a>
    <ul id="msg-new"></ul>
  </body>
  <script src="../../public/js/login.js"></script>
</html>
